.progress {
	position: absolute;

	display: block;
	inset-block-end: -0.3rem;
	inset-inline: 0 0;
	margin-block: 0;
	margin-inline: auto;
	font-size: 1.2rem;

	&__meter {
		inline-size: 100%;
		block-size: 2rem;
		background-color: $dark;
		position: relative;
		border-end-start-radius: 1rem;
		border-end-end-radius: 1rem;

		progress {
			inline-size: 100%;
			block-size: inherit;

			appearance: none;
			animation: animate-progress 5s linear infinite;
		}

		progress::-webkit-progress-bar {
			background-color: #eee;
			border-radius: 2px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		}
	}

	&__info {
		color: $dark;
		position: absolute;
		display: block;
		inline-size: max-content;
		inset-block-end: 2.8rem;
		inset-inline: 0 0;
		margin-block: 0;
		margin-inline: auto;
		z-index: 55;
	}
}
