*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	text-decoration: none;
	outline: none;
}

html {
	font-size: 100%;
	min-block-size: 100%;
	box-sizing: border-box;
}
html[lang='ar'] {
	// writing mode from right to Light

	direction: rtl;
}

body {
	padding-block: 0 0;
	margin-block: 0 0;
	background: linear-gradient(45deg, rgba($primary, 0.95), rgba($second, 0.95)),
		url('../../img/pattern.png') repeat;

	min-block-size: 100%;
}
